<!doctype html>
<html lang="en">
    <head>
        <title>Insta485</title>
    </head>
    <body>
        <a href="/">Insta485</a>
        <a href="/explore/">Explore</a>
        <a href="/users/{{ logname }}/">{{ logname }}</a>


        <div id="reactEntry">
            Loading ...
        </div>
        <!-- Load JavaScript -->
        <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>

        <!-- {% for post in posts %}
        <div class="post">
            <a href="/users/{{ post.owner }}/"
                >{{ post.owner }}
                <img
                    src="/uploads/{{ post.owner_img }}"
                    alt="{{ post.owner }} profile"
                />
            </a>

            <a href="/posts/{{ post.postid }}/">
                <img
                    src="/uploads/{{ post.post_img }}"
                    alt="post {{ post.postid }}"
                />
            </a>

            <a href="/posts/{{ post.postid }}/">{{ post.created_human }}</a>

            {% if post.num_likes == 1 %}
            <p>1 like</p>
            {% else %}
            <p>{{ post.num_likes }} likes</p>
            {% endif %} {% if post.logname_likes_this %}
            <form
                action="/likes/?target=/"
                method="post"
                enctype="multipart/form-data"
            >
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <input type="hidden" name="operation" value="unlike" />
                <input type="hidden" name="postid" value="{{ post.postid }}" />
                <input type="submit" name="unlike" value="unlike" />
            </form>
            {% else %}
            <form
                action="/likes/?target=/"
                method="post"
                enctype="multipart/form-data"
            >
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <input type="hidden" name="operation" value="like" />
                <input type="hidden" name="postid" value="{{ post.postid }}" />
                <input type="submit" name="like" value="like" />
            </form>
            {% endif %} {% for comment in post.comments %}
            <p>
                <a href="/users/{{ comment.owner }}/">{{ comment.owner }}</a>
                {{ comment.text }}
            </p>
            {% endfor %}

            <form
                action="/comments/?target=/"
                method="post"
                enctype="multipart/form-data"
            >
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <input type="hidden" name="operation" value="create" />
                <input type="hidden" name="postid" value="{{ post.postid }}" />
                <input type="text" name="text" required />
                <input type="submit" name="comment" value="comment" />
            </form>
        </div>
        {% endfor %} -->
    </body>
</html>
