<!doctype html>
<html lang="en">
    <head>
        <title>Insta485</title>
    </head>
    <body>
        <div>
            <nav>
                <h3>
                    <a href="/">Home</a> <a href="/accounts/login/">Login</a>
                </h3>
            </nav>
        </div>
        <div><h3>Login</h3></div>
        <div>
            <form
                action="/accounts/?target=/"
                method="post"
                enctype="multipart/form-data"
            >
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <div>
                    <input
                        type="text"
                        name="username"
                        required
                        placeholder="username"
                    />
                </div>
                <div>
                    <input
                        type="password"
                        name="password"
                        required
                        placeholder="password"
                    />
                </div>
                <div>
                    <input type="submit" value="login" />
                    <input type="hidden" name="operation" value="login" />
                </div>
            </form>
        </div>
        <div>
            Don't have an account? <a href="/accounts/create/">Sign Up</a>
        </div>
    </body>
</html>
