<!doctype html>
<html lang="en">
    <head>
        <title>Insta485</title>
    </head>
    <body>
        <div>
            <nav>
                <h3>
                    <a href="/">Home</a>
                    <a href="/explore/">Explore</a>
                    <a href="/users/{{ logname }}/">{{ logname }}</a>
                </h3>
            </nav>
        </div>
        <div><h3>Change Password</h3></div>
        <div>
            <form
                action="/accounts/?target=/accounts/edit/"
                method="post"
                enctype="multipart/form-data"
            >
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <div>
                    Old password
                    <input type="password" name="password" required />
                </div>
                <div>
                    New password
                    <input type="password" name="new_password1" required />
                </div>
                <div>
                    New password, again
                    <input type="password" name="new_password2" required />
                </div>
                <div>
                    <input
                        type="submit"
                        name="update_password"
                        value="submit"
                    />
                    <input
                        type="hidden"
                        name="operation"
                        value="update_password"
                    />
                </div>
            </form>
        </div>
        <div>
            <h3><a href="/accounts/edit/">Back to edit account</a></h3>
        </div>
    </body>
</html>
